textarea {
    resize: none;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.38);
    z-index: 20;
}


.table {
    vertical-align: middle;
}

.customModal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 30;
}

.modalMessage {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.svg15 {
    width: 15px;
    height: 15px;
}