.message {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.messageText {
    margin-bottom: 0;
    font-size: 14px;
}

.messageTitle {
    margin: 0;
    font-size: 16px;
}

.messageTextarea {
    padding: 10px 100px 10px 10px;
    resize: none;
    width: 100%;
    min-height: 50px;
}

.sendComment {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5px, -50%);
}
.tollSVG {
    fill: white;
    width: 15px;
    height: 15px;
}